In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data
lending_data = pd.read_csv('Resources/lending_data.csv')
lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Split the data into X_train, X_test, y_train, y_test
y = lending_data["loan_status"]
X = lending_data.drop(columns=['loan_status'])

X_train, X_test, y_train, y_test = train_test_split(X,y)

X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
87,8400.0,6.700,43600,0.311927,3,0,13600
19273,10800.0,7.699,53000,0.433962,5,1,23000
62451,9100.0,7.004,46500,0.354839,3,0,16500
23469,8500.0,6.719,43800,0.315068,3,0,13800
5930,10100.0,7.434,50600,0.407115,4,1,20600

# Prediction: 

I believe the Random Forest Classifier model will perform better than the Logistic Regression model because the Random Forest Classifier weighs each column differently, which is what a person who gives out loans usually does, such as interest rate vs. borrowers income. The Logistic Regression model weighs everything the same, which is impractical in the real world.

In [6]:
# Train a Logistic Regression model print the model score

from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='lbfgs',random_state=1)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9922100701609575

In [7]:
# Train a Random Forest Classifier model and print the model score

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2,random_state=0)

clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9946347503095336

# Results:

Based on the test, the Random Forest Classifier model generated the highest score compared to the Logistic Regression model, which proved my prediction correction!